<div class="rp-gallery-collection w-dyn-list">
    <div role="list" class="rp-gallery-collection-list w-dyn-items">
        <div role="listitem" class="rp-gallery-item w-dyn-item"><img
                src="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa034e10bc7e988139ca_rooftop-patio-8.webp"
                loading="lazy"
                alt="Custom Kenten Penthouse option showing rooftop putting green, garden beds and bar with view of Calgary downtown at night"
                sizes="100vw"
                srcset="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa034e10bc7e988139ca_rooftop-patio-8-p-500.webp 500w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa034e10bc7e988139ca_rooftop-patio-8-p-800.webp 800w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa034e10bc7e988139ca_rooftop-patio-8-p-1080.webp 1080w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa034e10bc7e988139ca_rooftop-patio-8-p-1600.webp 1600w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa034e10bc7e988139ca_rooftop-patio-8.webp 1916w"
                class="rp-gallery-cms-img"></div>
        <div role="listitem" class="rp-gallery-item w-dyn-item"><img
                src="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa038778fd8c3d886dd9_rooftop-patio-7.webp"
                loading="lazy"
                alt="Custom Kenten Penthouse option showing rooftop putting green, garden beds and bar with view of Calgary downtown during the day"
                sizes="100vw"
                srcset="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa038778fd8c3d886dd9_rooftop-patio-7-p-500.webp 500w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa038778fd8c3d886dd9_rooftop-patio-7-p-800.webp 800w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa038778fd8c3d886dd9_rooftop-patio-7-p-1080.webp 1080w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa038778fd8c3d886dd9_rooftop-patio-7-p-1600.webp 1600w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa038778fd8c3d886dd9_rooftop-patio-7.webp 1916w"
                class="rp-gallery-cms-img"></div>
        <div role="listitem" class="rp-gallery-item w-dyn-item"><img
                src="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03103795090470fdd7_rooftop-patio-6.webp"
                loading="lazy"
                alt="Custom Kenten Penthouse option showing rooftop putting green, garden beds and bar with view of Calgary at night"
                sizes="100vw"
                srcset="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03103795090470fdd7_rooftop-patio-6-p-500.webp 500w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03103795090470fdd7_rooftop-patio-6-p-800.webp 800w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03103795090470fdd7_rooftop-patio-6-p-1080.webp 1080w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03103795090470fdd7_rooftop-patio-6-p-1600.webp 1600w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03103795090470fdd7_rooftop-patio-6.webp 1914w"
                class="rp-gallery-cms-img"></div>
        <div role="listitem" class="rp-gallery-item w-dyn-item"><img
                src="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03d0d4ad9abb680d7b_rooftop-patio-5.webp"
                loading="lazy"
                alt="Custom Kenten Penthouse option showing rooftop putting green, garden beds and bar with view of Calgary during the day"
                sizes="100vw"
                srcset="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03d0d4ad9abb680d7b_rooftop-patio-5-p-500.webp 500w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03d0d4ad9abb680d7b_rooftop-patio-5-p-800.webp 800w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03d0d4ad9abb680d7b_rooftop-patio-5-p-1080.webp 1080w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03d0d4ad9abb680d7b_rooftop-patio-5-p-1600.webp 1600w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03d0d4ad9abb680d7b_rooftop-patio-5.webp 1914w"
                class="rp-gallery-cms-img"></div>
        <div role="listitem" class="rp-gallery-item w-dyn-item"><img
                src="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03eacd3654efc118b5_rooftop-patio-4.webp"
                loading="lazy"
                alt="Custom Kenten Penthouse option showing dinning table, fire pit and, hot tub with view of Calgary downtown at night"
                sizes="100vw"
                srcset="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03eacd3654efc118b5_rooftop-patio-4-p-500.webp 500w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03eacd3654efc118b5_rooftop-patio-4-p-800.webp 800w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03eacd3654efc118b5_rooftop-patio-4-p-1080.webp 1080w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03eacd3654efc118b5_rooftop-patio-4-p-1600.webp 1600w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03eacd3654efc118b5_rooftop-patio-4.webp 1914w"
                class="rp-gallery-cms-img"></div>
        <div role="listitem" class="rp-gallery-item w-dyn-item"><img
                src="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa0342d179210eb05e32_rooftop-patio-3.webp"
                loading="lazy"
                alt="Custom Kenten Penthouse option showing dinning table, fire pit and, hot tub with view of Calgary downtown during the day"
                sizes="100vw"
                srcset="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa0342d179210eb05e32_rooftop-patio-3-p-500.webp 500w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa0342d179210eb05e32_rooftop-patio-3-p-800.webp 800w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa0342d179210eb05e32_rooftop-patio-3-p-1080.webp 1080w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa0342d179210eb05e32_rooftop-patio-3-p-1600.webp 1600w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa0342d179210eb05e32_rooftop-patio-3.webp 1914w"
                class="rp-gallery-cms-img"></div>
        <div role="listitem" class="rp-gallery-item w-dyn-item"><img
                src="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03c9e8e99a4e553278_rooftop-patio-2.webp"
                loading="lazy"
                alt="Custom Kenten Penthouse option showing dinning table, hot tub and outdoor kitchen with view of Calgary downtown at night"
                sizes="100vw"
                srcset="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03c9e8e99a4e553278_rooftop-patio-2-p-500.webp 500w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03c9e8e99a4e553278_rooftop-patio-2-p-800.webp 800w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03c9e8e99a4e553278_rooftop-patio-2-p-1080.webp 1080w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03c9e8e99a4e553278_rooftop-patio-2-p-1600.webp 1600w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03c9e8e99a4e553278_rooftop-patio-2.webp 1916w"
                class="rp-gallery-cms-img"></div>
        <div role="listitem" class="rp-gallery-item w-dyn-item"><img
                src="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03bb49f351ea2eee82_rooftop-patio-1.webp"
                loading="lazy"
                alt="Custom Kenten Penthouse option showing dinning table, hot tub and outdoor kitchen with view of Calgary downtown during the day"
                sizes="100vw"
                srcset="https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03bb49f351ea2eee82_rooftop-patio-1-p-500.webp 500w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03bb49f351ea2eee82_rooftop-patio-1-p-800.webp 800w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03bb49f351ea2eee82_rooftop-patio-1-p-1080.webp 1080w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03bb49f351ea2eee82_rooftop-patio-1-p-1600.webp 1600w, https://cdn.prod.website-files.com/64235b8c02c16f24ecbdce4b/67d9fa03bb49f351ea2eee82_rooftop-patio-1.webp 1914w"
                class="rp-gallery-cms-img"></div>
    </div>
</div>